* {
  font-family: sans-serif;
  color: rgb(0, 66, 123);
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 233, 224);
}

#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 5px 1rem;
  background-color: rgb(240, 233, 224);
}

#header,
.services {
  display: flex;
  justify-content: space-between;
}

.header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

#header-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

#nav-bar ul {
  display: flex;
  list-style: none;
}

li a {
  margin-right: 2rem;
  text-decoration: none;
  color: rgb(0, 66, 123);
}

li a:hover {
  background-color: rgb(0, 66, 123);
  color: rgb(240, 233, 224);
  padding: 5px 10px;
  border-radius: 10px;
}

li a:active {
  color: rgb(97, 128, 155);
}

.home-div {
  margin: 0 auto;
  padding: 1.5rem;
  width: 80vw;
}

.home-main h2 {
  font-size: 3.5rem;
}

.home-div p {
  width: 50%;
  margin-top: -100px;
}

.home-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-main img {
  width: 330px;
  height: 480px;
}

.buy-products {
  background-color: rgb(0, 66, 123);
  color: rgb(240, 233, 224);
  padding: 5px 15px;
  font-size: 1.1rem;
  margin-top: 1rem;
  border-radius: 3px;
  border: none;
}

.buy-products:hover {
  background-color: rgba(65, 99, 129, 0.34);
  color: rgb(0, 66, 123);
}

.iframe-div {
  margin: 2rem auto;
  width: 90%;
}

.Product-features {
  width: 70vw;
  text-align: center;
  margin: 0 auto;
}

.iwatch {
  width: 150px;
  height: 150px;
}

.services-2 {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(0, 0, 0, 0.302);
}

.packages {
  width: 25%;
  margin: 2rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.302);
  border-radius: 4px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products {
  padding: 0 10%;
}

.my-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.302);
  border-radius: 4px;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.35);
}

input {
  height: 6vh;
  width: 100%;
  padding: 0 16px;
  display: block;
  margin: 10px 0;
}

textarea {
  width: 100%;
  margin: 10px 0;
  padding: 16px;
  font-size: 1rem;
}

#submit {
  margin-top: 0.5rem;
  padding: 5px 10px;
  border-radius: 5px;
}

@media (max-width: 576px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #nav-bar {
    display: none;
  }

  .home-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .home-div p {
    width: 90%;
    margin-top: 1rem;
    text-align: center;
  }

  .home-div {
    width: 100%;
    max-width: 1200px;
    margin: 6rem auto 2rem auto;
    padding: 1rem;
  }

  .home-main h2 {
    font-size: 3rem;
  }

  .home-main img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .iframe-div {
    width: 100vw;
    padding: 1rem;
    margin: 0;
  }

  iframe {
    width: 100%;
    margin: 0.5rem 0;
  }

  .services {
    display: flex;
    flex-direction: column;
  }

  .services-2 {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.302);
  }

  .packages {
    width: 100%;
    margin: 1rem;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.302);
    border-radius: 4px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .my-form {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 2rem auto;
    width: 90%;
  }
}

@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #nav-bar {
    display: none;
  }

  .home-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .home-div p {
    margin: unset;
    width: 100%;
  }

  .home-div {
    width: 100%;
    max-width: 1200px;
    margin: 6rem auto 2rem auto;
    padding: 1rem;
  }

  .home-main h2 {
    font-size: 2.5rem;
  }

  .home-main img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .iframe-div {
    width: 100%;
    padding: 1rem;
    margin: 0;
  }

  iframe {
    width: 100%;
    margin: 0.5rem 0;
  }

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services-2 {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.302);
    align-items: center;
  }

  .packages {
    width: 100%;
    margin: 1rem;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.302);
    border-radius: 4px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin: auto;
  }

  .my-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2rem auto;
    width: 90%;
  }
}
